
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

}

.calculator {
  background-color: black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 250px;
  height: 390px;
}

.display {
  color: #fff;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 70px;
  width: 100%;
}

/* .display small {
  color: #EE9406;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
} */

button {
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.9)
}

button:focus {
  outline: none;
}

button.big-v {
  height: 110px;
  border-radius: 50px;
}

button.big-h {
  width: 110px;
  border-radius: 50px;
}

button.orange {
  background-color: #EE9406;
  color: #fff;
}

button.light-grey {
  background-color: #A5A5A5;
  
}

button.dark-grey {
  background-color: #323232;
  color: #fff;
}

button.ac {
  margin-right: 50%;
}

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%
}